In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv(r"D:\Mihir\DEGREE\Activities\DJS NOVA\Combined Task\TASK.csv")

In [13]:
df.head(2)

,id,date,time,country,nearest_places,hazard_type,landslide_type,trigger,fatalities,injuries,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",landslide,Landslide,Rain,1.0,NaN,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.5494,-3.5875,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",landslide,Complex,Rain,NaN,NaN,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.3838,-75.4267,"(-10.383800000000001, -75.426699999999997)"

In [6]:
df.columns

Index(['id', 'date', 'time', 'country', 'nearest_places', 'hazard_type',
       'landslide_type', 'trigger', 'storm_name', 'fatalities', 'injuries',
       'source_name', 'source_link', 'location_description',
       'location_accuracy', 'landslide_size', 'photos_link', 'cat_src',
       'cat_id', 'countryname', 'near', 'distance', 'adminname1', 'adminname2',
       'population', 'countrycode', 'continentcode', 'key', 'version',
       'tstamp', 'changeset_id', 'latitude', 'longitude', 'geolocation'],
      dtype='object')

In [7]:
df['storm_name'].value_counts().sum()

550

In [8]:
df.shape

(9564, 34)

In [ ]:
df.drop(columns = ['storm_name'],inplace=True)

In [11]:
df.columns

Index(['id', 'date', 'time', 'country', 'nearest_places', 'hazard_type',
       'landslide_type', 'trigger', 'fatalities', 'injuries', 'source_name',
       'source_link', 'location_description', 'location_accuracy',
       'landslide_size', 'photos_link', 'cat_src', 'cat_id', 'countryname',
       'near', 'distance', 'adminname1', 'adminname2', 'population',
       'countrycode', 'continentcode', 'key', 'version', 'tstamp',
       'changeset_id', 'latitude', 'longitude', 'geolocation'],
      dtype='object')

In [16]:
df['latitude']=df['latitude'].round(2)

In [17]:
df['longitude']=df['longitude'].round(2)

In [18]:
df.head(2)

,id,date,time,country,nearest_places,hazard_type,landslide_type,trigger,fatalities,injuries,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",landslide,Landslide,Rain,1.0,NaN,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.55,-3.59,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",landslide,Complex,Rain,NaN,NaN,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.38,-75.43,"(-10.383800000000001, -75.426699999999997)"

In [20]:
df.drop(columns = ['hazard_type'],inplace=True)

In [25]:
df.head(2)

,id,date,time,country,nearest_places,landslide_type,trigger,fatalities,injuries,source_name,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",Landslide,Rain,1.0,NaN,The Times,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.55,-3.59,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",Complex,Rain,NaN,NaN,My Opera,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.38,-75.43,"(-10.383800000000001, -75.426699999999997)"

In [31]:
df.replace({'landslide':'Landslide'},inplace=True)

In [35]:
df['landslide_type'].value_counts()

landslide_type
Landslide              6677
Mudslide               1837
Rockfall                486
Complex                 232
Debris_Flow             173
Other                    66
Riverbank_Collapse       28
Unknown                  18
Lahar                     7
Snow_Avalanche            7
Translational_Slide       6
Creep                     5
Earthflow                 3
Rockslide                 1
Name: count, dtype: int64

In [34]:
df.replace({'mudslide':'Mudslide'},inplace=True)

In [40]:
df['trigger'].value_counts()

trigger
Downpour                   4454
Rain                       1920
Unknown                     813
Continuous_Rain             557
Tropical_Cyclone            543
Monsoon                     124
Earthquake                   76
Snowfall_snowmelt            75
Mining_digging               74
Construction                 52
Flooding                     49
Freeze_thaw                  26
No_Apparent_Trigger          20
Other                        15
Dam_Embankment_Collapse       9
Volcano                       1
Name: count, dtype: int64

In [39]:
df.replace({'monsoon':'Monsoon','No_Apparent_trigger':'No_Apparent_Trigger','unknown':'Unknown','Continuous_rain':'Continuous_Rain'},inplace=True)

In [47]:
df.replace({'articles.timesofindia.indiatimes.com':'Times of India' },inplace=True)

In [51]:
df.replace({'above road':'Above_road','above_road':'Above_road', 'Other-_Construction_Zone':'Construction_zone','natural slope':'natural_slope','natural_slope':'Natural_slope','Above_railraod':'Above_Railroad'},inplace=True)

In [53]:
df.replace({'natural_slope':'Natural_slope' },inplace=True)

In [57]:
df['location_accuracy']=df['location_accuracy'].str.replace("Known_within_","")

In [59]:
df['location_accuracy']=df['location_accuracy'].str.replace("km","")

In [61]:
df['location_accuracy']=df['location_accuracy'].str.replace("_","")

In [66]:
df.replace({'Exactlocation':'Exact_Location', },inplace=True)

In [68]:
df.replace({'ExactLocation':'Exact_Location', },inplace=True)

In [70]:
df.rename(columns={'location_accuracy':'location_accuracy(in km)'},inplace=True)

In [76]:
df.replace({'medium':'Medium','large':'Large','small':'Small','Very_large':'Very_Large'},inplace=True)

In [96]:
df.drop(columns = ['country'],inplace=True)

In [98]:
df.rename(columns={'countryname':'country'},inplace=True)

In [99]:
df.columns

Index(['id', 'date', 'time', 'nearest_places', 'landslide_type', 'trigger',
       'fatalities', 'injuries', 'source_name', 'source_link',
       'location_description', 'location_accuracy(in km)', 'landslide_size',
       'photos_link', 'cat_src', 'cat_id', 'country', 'near', 'distance',
       'adminname1', 'adminname2', 'population', 'countrycode',
       'continentcode', 'key', 'version', 'tstamp', 'changeset_id', 'latitude',
       'longitude', 'geolocation'],
      dtype='object')

In [108]:
df['countrycode'].value_counts().sum()

9520

In [111]:
df['country'].value_counts().sum()

9522