In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv(r"D:\Mihir\DEGREE\Activities\DJS NOVA\Combined Task\TASK.csv")

In [13]:
df.head(2)

,id,date,time,country,nearest_places,hazard_type,landslide_type,trigger,fatalities,injuries,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",landslide,Landslide,Rain,1.0,NaN,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.5494,-3.5875,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",landslide,Complex,Rain,NaN,NaN,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.3838,-75.4267,"(-10.383800000000001, -75.426699999999997)"

In [6]:
df.columns

Index(['id', 'date', 'time', 'country', 'nearest_places', 'hazard_type',
       'landslide_type', 'trigger', 'storm_name', 'fatalities', 'injuries',
       'source_name', 'source_link', 'location_description',
       'location_accuracy', 'landslide_size', 'photos_link', 'cat_src',
       'cat_id', 'countryname', 'near', 'distance', 'adminname1', 'adminname2',
       'population', 'countrycode', 'continentcode', 'key', 'version',
       'tstamp', 'changeset_id', 'latitude', 'longitude', 'geolocation'],
      dtype='object')

In [7]:
df['storm_name'].value_counts().sum()

550

In [8]:
df.shape

(9564, 34)

In [19]:
df.drop(columns = ['storm_name'],inplace=True)

KeyError: "['storm_name'] not found in axis"

In [11]:
df.columns

Index(['id', 'date', 'time', 'country', 'nearest_places', 'hazard_type',
       'landslide_type', 'trigger', 'fatalities', 'injuries', 'source_name',
       'source_link', 'location_description', 'location_accuracy',
       'landslide_size', 'photos_link', 'cat_src', 'cat_id', 'countryname',
       'near', 'distance', 'adminname1', 'adminname2', 'population',
       'countrycode', 'continentcode', 'key', 'version', 'tstamp',
       'changeset_id', 'latitude', 'longitude', 'geolocation'],
      dtype='object')

In [16]:
df['latitude']=df['latitude'].round(2)

In [17]:
df['longitude']=df['longitude'].round(2)

In [18]:
df.head(2)

,id,date,time,country,nearest_places,hazard_type,landslide_type,trigger,fatalities,injuries,...,population,countrycode,continentcode,key,version,tstamp,changeset_id,latitude,longitude,geolocation
0,1,01/02/2007,NaN,United Kingdom,"Whitehaven, Cumbria",landslide,Landslide,Rain,1.0,NaN,...,24803.0,GB,EU,sGaiIKdcW,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,54.55,-3.59,"(54.549399999999999, -3.5874999999999999)"
1,2,01/03/2007,NaN,Peru,"Alto Mesapata, in the Pasco province",landslide,Complex,Rain,NaN,NaN,...,0.0,PE,SA,S95OsumK4,1.0,Tue Apr 01 2014 00:00:00 GMT+0000 (UTC),1.0,-10.38,-75.43,"(-10.383800000000001, -75.426699999999997)"

In [20]:
df.drop(columns = ['hazard_type'],inplace=True)

In [23]:
df['location_description'].value_counts()

location_description
Above_road                  2188
Unknown                      660
Natural_slope                271
Urban_area                   175
unknown                      150
Mine_construction            134
Below_road                   132
Above_river                   98
above road                    79
Deforested_slope              50
Other                         47
Bluff                         44
Retaining_wall                37
Burned_area                   27
Above_Railroad                 9
above_road                     2
natural slope                  1
natural_slope                  1
Other-_Construction_Zone       1
Construction_zone              1
Drought                        1
Above_railraod                 1
Name: count, dtype: int64